<!DOCTYPE html>
<html lang="en">
  <%- include("head"); %>

  <body class="container">
    <%- include("header"); %>

    <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Olá! Eu sou Horácio Schumann, estudante sempre.</p>
      </div>
    </main>

    <%- include("footer"); %>
  </body>
</html>
